@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');
body {
  box-sizing: border-box;
}

.App {
  display: grid;
  height: 79vh;
  max-width: 1080px;
  position: relative;

  justify-content: center;
  border-top: 10px solid black;
  background: gray;
  
  overflow: hidden;
  margin: 0 auto;
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  text-transform: uppercase;
}

.App h2 {
  margin: 0 auto;
  object-fit: cover;
  font-size: 12px;
  font-weight: normal;
}

.App-header {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(7, 50px);
}

.App-header form:nth-child(11) {
  grid-column-start: 4;
  grid-column-end: 6;
  padding-left: 50px;
  position: left;
  background: no-repeat;
  background-size: 50px;
  background-image: url(http://icons.iconarchive.com/icons/kalangozilla/skrynium-black/256/mortal-kombat-icon.png);
}
.App-header form:nth-child(14) {
  grid-row-start: 3;
  grid-row-end: 6;
  position: relative;
}
.App-header form:nth-child(20) {
  grid-row-start: 3;
  grid-row-end: 6;
  grid-column-start: 7;
  grid-column-end: 8;
  opacity: 0;
}
.for_decoration {
  height: 140px;
}
.footer {
  background: black;
  height: 20px;
}